*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #420029 50%, #63003d);
}


.box{
    display: flex;
    align-items: center;
}

/* login css kod */
.login{
    width: 800px;
    height: 700px;
    background-color: white;
    border-radius: 40px 0px 0px 40px;
    border: 6px solid #810050;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login__text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 54px;
}

.login__text:hover{
    transform: scale(1.2);
}

.login__padding{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.541);
    margin-top: 10px;
}

.login__padding:hover{
    color: #63003d;
}


.login__box{
    width: 500px;
    height: 60px;
    background: none;
    border-radius: 200px;
    padding: 5px 15px;
    border: 3px solid #420029;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.login__box:hover{
    background-color: #e0e0e0;
}

.fa-circle-user{
    color: #63003d;
    font-size: 22px;
}
.fa-lock{
    color: #63003d;
    font-size: 22px;
}

.user{
    outline: none;
    background: none;
    border: none;
    width: 500px;
    height: 40px;
    font-size: 20px;
}

.password{
    outline: none;
    background: none;
    border: none;
    width: 500px;
    height: 40px;
    font-size: 20px;
}


.chekbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
}

.chekbox__padding{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.541);
}

.login__btn{
    padding: 20px 60px;
    background: linear-gradient(90deg, #420029 50%, #63003d);
    border-radius: 200px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-top: 20px;
}

.login__btn:active{
    transform: scale(1.1);
}



.texts{
    width: 600px;
    height: 700px;
    background: none;
    border: 6px solid #63003d;
    border-radius: 0px 40px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texts__text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000px;
    font-size: 76px;
    color: white;
}

.text__padding{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: white;
    margin-top: 40px;
}